.body-container {
    width: 50% !important;
    margin: auto !important;
}

form, table {
    margin-top: 2rem !important;
}

.btn-default {
    color: #fff;
    background-color: #222;
    font-size: 1rem;
    border-radius: 20px;
}

.btn-default:hover, .btn-default:focus {
    background-color: #222;
    color: #fff
}

.success-message {
    border: 1px solid #B2CCB1;
    padding: 1% 5% 1% 3%;
    background-color: #B2CCB1;
    border-radius: 5px;
}
